@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

.main-area{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    overflow: hidden;
    font-family: Quicksand, sans-serif, serif;
}

:root{
    --main-background-color: #e0e7ff;
    --white-color: #eef2ff;
    --black-color: #18181b;
    --main-brand-color: #312e81;
    --main-brand-color-2: #3730a3;
    
}

/* sidebar */

.sidebar{
    background: var(--main-brand-color);
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    min-width: 80px;
    overflow-y: auto;
}

.brand-name-section{
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    align-items: center;
    color: var(--white-color);
    padding-top: 10px;
}

.brand-name-section img{
    width: 50px;
}

.sidebar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 33px;
    gap: 20px;
    margin-top: 25px;
    color: var(--white-color);
}

.sidebar ul li{
    list-style: none;
    font-weight: bold;
    font-size: 20px;
}

.sidebar ul li i{
    font-weight: bold;
    font-size: 20px;
    min-width: 45px;
    text-align: center;
}

.sidebar ul li a{
    text-decoration: none;
    color: var(--white-color);
}

/* header */

.header{
    background-color: var(--white-color);
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top-half, .bottom-half{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-half{
    align-items: flex-start;
}

.fa-solid.fa-magnifying-glass{
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    padding-top: 3px;
    color: var(--black-color);
    margin-left: 100px;
}

input[type="search"]{
    background-color: var(--main-background-color);
    border-radius: 15px;
    border: none;
    padding: 5px;
    color: var(--black-color);
    font-weight: 600;
    width: 60%;
}

input[type="search"]:focus{
    border: 2px solid var(--black-color);
    outline: none;
}

.search-section{
    flex: 2;
    display: flex;
    justify-content: flex-start;
}

.profile-section{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 20px;
    flex: 1;
    margin-left: 100px;
}

.profile-section img{
    width: 50px;
    border-radius: 50%;
}

.profile-section h4, .profile-section i{
    color: var(--black-color);
}

.welcome{
    flex: 2;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-left: 100px;
}

.welcome p{
    padding-top: 10px;
}

.welcome h2{
    padding-top: 3px;
}

.welcome img{
    width: 60px;
    border-radius: 50%;
}

.buttons{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-self: center;
    margin-top: 13px;
}

.buttons button{
    border: none;
    background-color: var(--main-brand-color);
    padding: 10px 25px;
    color: var(--white-color);
    border-radius: 20px;
    font-weight: 700;
    min-width: 83px;
}

/* main dashboard area */

.dashboard-area{
    background: var(--main-background-color);
    padding: 30px;
    overflow: auto;
}

.project-announcements-area{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-left: 2px;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
}

.projects > div{
    background: var(--white-color);
    padding: 20px;
    border-left: 6px solid var(--main-brand-color);
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dashboard-area h2{
    padding-bottom: 15px;
    display: inline-block;
}

.announcements{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}


.different-announcements, .different-announcements + div{
    background-color: var(--white-color);
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 80%;
    padding: 10px;
}

.different-announcements > div{
   padding: 20px 0;
}


/* media queries */

@media (max-width: 800px){

    .fa-solid.fa-magnifying-glass, .welcome{
        margin-left: 10px;
    }

    .sidebar ul li a, .brand-name-section h2{
        display: none;
    }

    .sidebar{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .sidebar ul, .brand-name-section{
        margin-left: 0;
    }

}

@media (max-width: 600px){

    .main-area{
        grid-template-columns: 1fr;
    }

    .sidebar{
        display: none;
    }

}