@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

.main-area{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr 4fr / 0.8fr 4fr;
    overflow: hidden;
    font-family: Quicksand, sans-serif, serif;
}

:root{
    --main-background-color: #e0e7ff;
    --white-color: #eef2ff;
    --black-color: #18181b;
    --main-brand-color: #312e81;
    --main-brand-color-2: #3730a3;
    
}

/* sidebar */

.sidebar{
   background: var(--main-brand-color);
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    min-width: 80px;
}

/* header */

.header{
    background-color: var(--white-color);
    border: 1px solid firebrick;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 3px ;
}

.top-half, .bottom-half{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-half{
    align-items: flex-start;
}

.fa-solid.fa-magnifying-glass{
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    padding-top: 3px;
    color: var(--black-color);
    margin-left: 100px;
}

input[type="search"]{
    background-color: var(--main-background-color);
    border-radius: 15px;
    border: none;
    padding: 5px;
    color: var(--black-color);
    font-weight: 600;
    width: 60%;
}

input[type="search"]:focus{
    border: 2px solid var(--black-color);
    outline: none;
}

.search-section{
    flex: 2;
    display: flex;
    justify-content: flex-start;
}

.profile-section{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 20px;
    flex: 1;
    margin-left: 100px;
}

.profile-section img{
    width: 50px;
    border-radius: 50%;
}

.profile-section h4, .profile-section i{
    color: var(--black-color);
}

.welcome{
    flex: 2;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-left: 100px;
}

.welcome p{
    padding-top: 10px;
}

.welcome h2{
    padding-top: 3px;
}

.welcome img{
    width: 60px;
    border-radius: 50%;
}

.buttons{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-self: center;
    margin-top: 13px;
}

.buttons button{
    border: none;
    background-color: var(--main-brand-color);
    padding: 5px 20px;
    color: var(--white-color);
    border-radius: 20px;
    font-weight: 700;
    min-width: 83px;
}

.dashboard-area{
    background: var(--main-background-color);
    border: 1px solid blueviolet;
    padding: 10px;
    overflow: auto;
}
